@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Akademia Techniczno Humanistyczna<br />
    Bielsko Biała, 43-300<br />
    <abbr title="Phone">P:</abbr>
    504895648
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:pplowucha@o2.pl">pplowucha@o2.pl</a><br />
    <strong>Marketing:</strong> <a href="mailto:gchmura@gmail.com">gchmura@gmail.com</a>
</address>