@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Rejestracja uzytkownikow</h1>
    <p class="lead">Sprawdź nadchodzące zawody i dołącz już dziś. Załóż konto już dziś.</p>
    <p><a href="@Url.Action("Display", null, new { area = string.Empty, controller = "Competitions" },
                     Request.Url.Scheme)" class="btn btn-primary btn-lg">Pokaż nadchodzące zawody. &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Zapisz się już dziś!</h2>
        <p>
            Jesli chcesz zapisać się na zawody, najpierw musisz posiadać konto
        </p>

        <p><a class="btn btn-default"
               href="@Url.Action("Register", null, new { area = string.Empty, controller = "Registration" },
                     Request.Url.Scheme)">Zarejestruj się &raquo;</a>
        </p>
    </div>

    <div class="col-md-4">
        <h2>Zaloguj się i sparawdź swoje zawody</h2>
        <p>Sprawdź na jakie zawody się zarejestrowałeś i kiedy się zaczynają :).</p>
        <p>
            <a class="btn btn-default"
               href="@Url.Action("Login", null, new { area = string.Empty, controller = "Login" },
                     Request.Url.Scheme)">Zaloguj się &raquo;</a>
        </p>
    </div>
    <div class="col-md-4">
        <h2>Zakończone zawody i wyniki</h2>
        <p>Kliknij aby sprawdzić wyniki zakończonych zawodów, rankingi tabele</p>
        
        <p>
            <a class="btn btn-default"
               href="@Url.Action("Display", null, new { area = string.Empty, controller = "Competitions" },
                     Request.Url.Scheme)">Wyświetl &raquo;</a>
        </p>
    </div>
</div>